<turbo-frame id="likes">
	<!-- <div>
		<%# @likes.each do |like| %>
			<div class="short-post">
				<%#= like.words %>
			</div>
		<%# end %>
	</div> -->
	<div>This is a crab! Wow!</div>
</turbo-frame>