<div id="help">
	<p>
		<span class="lazar">Lazar.social</span> is an ongoing social network project by <a href="https://akirchner.website">Alexa Kirchner</a>. More information about <span class="lazar">lazar</span> can be found on <a href="https://lazardotsocial.tumblr.com/">tumblr</a>.
	</p>

	<p>
		These are the rules:
		<ul>
			<li>Each generation of lazar is temporary and will only stay up for a limited amount of time.</li>
			<li>If it breaks, it's broken. It might get fixed, it might not.</li>
			<li>If there's any bullshit, I shut it down.</li>
			<li>That's all.</li>
		</ul>
	</p>

	<p>
		The sorting of a page's posts can be set by appending <code>?order=alpha</code> to the page's url i.e. <code>https://lazar.social?order=alpha</code>. Valid values for <code>order</code> include <code>alpha</code> (alphabetical order), <code>revalpha</code> (reverse alphabetical order), <code>chrono</code> (chronological order, earliest posts first), and <code>revchrono</code> (chronological order, latest posts first). Posts are sorted alphabetically by default.
	</p>

	<p>
		Pagination can be achieved by appending <code>?page=2</code> to the page's url i.e. <code>https://lazar.social?page=2</code>.
	</p>

	<p>
		Pagination and custom orders can be applied at once by appending <code>?order=alpha&page=2</code>, with the specific values you desire swapped in for <code>alpha</code> and <code>2</code>. These features may not work on all pages.
	</p>

	<p>
		This is all the help we have to offer at this time.
	</p>
</div>