<div id="help">
	<div>
		<span class="lazar">Lazar.social</span> is an ongoing social network project by Alexa Kirchner. More information about <span class="lazar">lazar</span> can be found on <a href="https://lazardotsocial.tumblr.com/">tumblr</a>.
	</div>

	<div>
		The sorting of a page's posts can be set by appending <code>?order=alpha</code> to the page's url i.e. <code>https://lazar.social?order=alpha</code>. Valid values for <code>order</code> include <code>alpha</code> (alphabetical order), <code>revalpha</code> (reverse alphabetical order), <code>chrono</code> (chronological order, earliest posts first). Posts are sorted by reverse chronological by default.
	</div>

	<div>
		Pagination can be achieved by appending <code>?page=2</code> to the page's url  i.e. <code>https://lazar.social?page=3</code>.
	</div>

	<div>
		Pagination and custom orders can be applied at once by appending <code>?order=alpha&page=2</code>.
	</div>

	<div>
		This is all the help we have to offer at this time.
	</div>
</div>