<div id="museum">
	<h2>The History of Lazar.Social</h2>
	<div>
		Lazar is run in generations, with each generation implimenting a different social media design. Each generation runs for a short period before shutting down.
	</div>
	<div>
		<h3>1st Generation: Reacts (Aug 3rd - Aug 6th, 2021)</h3>
		<div>Users can only react - no posts, only reactions and reactions to reactions. Includes eight unique reactions: happy, sad, neutral, crab, glacier, microphone, obelisk and shield.</div>
		<div>
			<%= image_tag 'museum/lazar1_1.png' %>
		</div>
	</div>
	<div>
		<h3>2nd Generation: MinMax (Sep 3rd - Sep 6th, 2021)</h3>
		<div>Posts must be below a maximum character length and above a mininum character length. These limits would change every hour, including periods where the maximum exceeded the minimum, preventing posting all together.</div>
	</div>
	<div>
		<h3>3rd Generation: Temperature (Oct 4th, 2021)</h3>
		<div>Posts are sorted based on how close they are to a secret topic, with a prize for whichever user guessed the topic.</div> 
	</div>
	<div>
		<h3>4rd Generation: Topics (Jan 29th - Feb 1st, 2022)</h3>
		<div>Every hour a random topic is selected and only posts judged sufficiently on-topic are displayed.</div>
	</div>
	<div>
		<h3>5th Generation: Rotation (July 17th - July 23rd, 2022)</h3>
		<div>Users are given full control over their posts background color, rotation, and positioning on the page. View the state of the site at time of close here. You can read an in-depth essay on gen 5 on the lazar tumblr.</div>
	</div>
	<div>
		<h3>6th Generation: Ply and Reply (October 9th - October 15th, 2022)</h3>
		<div>Users can "ply" posts, making an older post a reply of their new post. This allows conversations to move both up and down and for disparate threads to be linked together. Lazar gen 6 also featured the complete scripts of Macbeth and the Tempest, converted into a social media feed. You can read an in-depth essay on gen 6 on the lazar tumblr.</div>
	</div>
	<div>
		 
	</div>
</div>