
<section class="input-area">
	<div class="post-form interactable-zone">
		<span class="lazar">LA2AR</span> is currently at rest. It may wake soon. For more information, <a href="https://twitter.com/lazardotsocial">follow our twitter</a>.
	</div>
</section>