<div class="post-form interactable-zone">
	<p>
		Welcome to <span class="lazar">lazar.social</span>: an ongoing exploration into new forms of social media. Generation 6 is current active. For more information, <%= link_to "visit our twitter", "https://twitter.com/lazardotsocial" %>.
	</p>

	<p>
		To post you must first <%= link_to "Sign In", sign_in_path %> or <%= link_to "Sign Up", sign_up_path %>.
	</p>
</div>