<div class="input-area">
	<% if Current.user %>
		<%= render 'posts/form' %>
	<% else %>
		<%= render 'posts/signin' %>
	<% end %>
</div>

<div id="timeline">
	<%= render partial: 'posts', locals:  {posts: @posts} %>
</div>