<section id="timeline">
	<% if @post.ply %>
		<% if @post.ply.ply %>
			<%= render partial: 'posts/post', locals: {post: @post.ply.ply} %>
			<div class="line-box">
				<div class="line"></div>
			</div>
		<% end %>
		<%= render partial: 'posts/post', locals: {post: @post.ply} %>
		<div class="line-box">
			<div class="line"></div>
		</div>
	<% end %>
	<%= render partial: 'posts/post', locals: {post: @post, class: "show-post"} %>
	<%= render partial: 'posts/posts', locals: {posts: @post.replies, myclass: "reply-column"} %>
</section>