/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background: midnightblue;
  margin: 0px;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 80px;
  word-wrap: break-word;
}

h1 a{
  text-decoration: none;
}

h2 {
  text-align: center;
}

.lazar {
  color: black;
  font-weight: heavy;
  font-style: italic;
  text-shadow: 0.04em 0.04em #f00, 
               0.08em 0.08em #0f0, 
               0.12em 0.12em #00f,
               0.16em 0.16em lightseagreen,
               0.20em 0.20em antiquewhite,
               0.24em 0.24em black,
               0.28em 0.28em cornsilk;
}

.interactable-zone{
  background: oldlace;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

footer{
  box-sizing: border-box;
  background: oldlace;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* _______________ HEADER ___________________ */
.user-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.user-bar .name{
  font-weight: bold;
}

.user-bar .user-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-bar .user-buttons button{
  margin-left: 20px;
}

.flash{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flash div{
  width: 70vw;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

.alert{
  background: palevioletred;
}

.notice{
  background: lightblue;
}

/* -------------SIGN IN ------------------- */
.user-form{
  padding: 20px;
  border-radius: 20px;
}

.user-form label{
  display: inline-block;
  width: 100px;
}

.user-form div{
  margin: 10px;
}

.sso{
  display: flex;
  justify-content: center;
}

.sso-box{
  background: oldlace;
  border: 1px solid black;
  padding: 5px;
}

#help, #museum{
  background: oldlace;
  margin: 20px;
  padding: 5px;
}

.logo{
  display: flex;
  justify-content: center
}

.logo svg{
  height: 600px;
  padding: 20px;
}

#museum img {
  max-height: 500px;
  max-width: 100%;
}

#museum details{
  padding-bottom: 20px;
}

#museum summary{
  font-size: 30px;
  font-weight: bold;
}

#museum details div {
  padding-left: 20px;
  padding-bottom: 5px;
}