/* ~~~~~~~~~~~~ POSTS ~~~~~~~~~~~~~~~~ */
#timeline {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.post-column{
  display: flex;
  align-items: start;
}

.posts-list{
  height: 80vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 30vw;
  max-height: 90vh;
  overflow-y: scroll;
}

.horizontal-line{
  width: 2px;
  background-color: white;
  margin: 20px 0;
  height: 100%;
}


/* ~~~~~~~~~~~~~~~~~~~~~ POST ~~~~~~~~~~~~~~~~~~~~~~~ */
.post-box{
  display: flex;
  align-items: top;
}

.vertical-line{
  height: 2px;
  background-color: white;
  width: 24px;
  margin-top: 20px;
}

.post{
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 2px;
  width: 90%;
  /*max-height: 100px;*/
  text-align: left;
  background-color: oldlace;
  color: black;
  margin: 0;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.-ply-form{
  display: flex;
  justify-content: space-between;
}

.ply-form, .reply-form{
  display: inline-block;
}

.reply-form summary{
  text-align: right;
}

/*Likes*/

.post svg {
  color: black;
  width: 20px;
  height: 20px;
}