/* ~~~~~~~~~~~~ POSTS ~~~~~~~~~~~~~~~~ */
#timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.posts-list{
  height: 80vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 90vh;
  overflow-y: scroll;
}

.show-post
{
  margin-left: 20px !important;
}

.show-post .words{
  font-weight: bold;
}

.reply-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reply-column .post {
  width: 40%;
}

.reply-button{
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~ POST ~~~~~~~~~~~~~~~~~~~~~~~ */
.post{
  background: palegreen;
  padding: 10px;
  text-align: left;
  color: black;
  margin: 15px;
  margin-left: 50px;
  border: 1px solid black;
}

.post-header, .post-footer{
  display: flex;
  justify-content: space-between;
}

.words {
  font-size: 20px;
}

.post-interactions{
  display: flex;
  justify-content: right;
  flex-direction: row;
}

.like form {
  display: inline-block;
}

.active button{
  background: salmon;
}

.connections{
  display: flex;
  flex-direction: row;
}

.plies-list, .replies-list{
  width: 50%;
  list-style: square;
  height: 20vh;
  overflow-y: scroll;
}

.user-likes-box{
  height: 20vh;
  overflow-y:  scroll;
}

.user-likes-box .post{
  width: unset;
}

.red{
  color: darkred;
  font-weight: bold;
}

.line-box{
  display: flex;
  justify-content: center;
  width: 100%;
}

.line {
  width: 0px;
  height: 20px;
  border: 1px solid black;
}

/*************************** FORM *************************/
.hide {
  display: none !important;
}

#modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#new-post{
  padding: 20px;
  width: 60vw;
  background: palegreen;
  border: 1px solid black;
  z-index: 1;
}

#post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-form label{
  font-weight: bold;
}

#post-form th{
  font-weight: bold;
}

#post-form table{
  width: 100%;
}

#post-form tr{
  text-align: left;
}

#post-form svg{
  height: 20px;
}

.like-button{
  display: inline-block;
  width: 32%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

.get-likes{
  padding: 2px;
}

.add-post, .list-post{
  cursor: pointer;
}

#likes .selected {
  background: salmon;
}

#post_words {
  width: 100%;
}

.diff{
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.char{
  display: inline-block;
  white-space: pre-wrap;
}

.delete{
  color: grey;
  font-weight: normal;
  vertical-align: sub;
  line-height: 0;
}

.insert{
  color: mediumblue;
  font-weight: normal;
  vertical-align: super;
  line-height: 0;
}

.variance {
  font-size: 20px;
  margin: 10px;
}

.form-buttons {
  margin: 10px;
}

.form-buttons button, .form-buttons input{
  font-size: 20px;
  padding: 5px 10px;
}

/* --------------------------- Likes -------------------------------*/

.post svg {
  color: black;
  width: 20px;
  height: 20px;
}

.short-post {
  background: oldlace;
}