/* ~~~~~~~~~~~~ POSTS ~~~~~~~~~~~~~~~~ */
#timeline {
  display: flex;
  align-items: top;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 40px;
}

.posts-list{
  height: 80vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 90vh;
  overflow-y: scroll;
}

.show-post{
  display: flex;
  align-items: start;
  width: 60vw;
  margin: auto;
  font-size: 20px;
}

.arrow{
  fill: oldlace;
  width: 50px;
  height: 50px;
  margin: auto;
}

/* ----------------- carousel ------------------ */
.posts-carousel{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: static;
  justify-content: center;
}

.post-row{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: static;
  justify-content: center;
}

.carousel-post{
  display: none;
  position: relative;
}

.carousel-post .post{
  width: 50vw;
}

.posts-carousel .carousel-active{
  display: block;
}

.posts-carousel .nav svg{
  height: 50px;
  width: 50px;
  fill: oldlace;
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

.count{
  color: oldlace;
  font-weight: bold;
}

.button-row{
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~ POST ~~~~~~~~~~~~~~~~~~~~~~~ */
.post{
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 4px;
  width: 100%;
  text-align: left;
  background-color: oldlace;
  color: black;
  margin: 2px;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.post-interactions{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.like form {
  display: inline-block;
}

.active button{
  background: salmon;
}

.connections{
  display: flex;
  flex-direction: row;
}

.plies-list, .replies-list{
  width: 50%;
  list-style: square;
  height: 20vh;
  overflow-y: scroll;
}

.user-likes-box{
  height: 20vh;
  overflow-y:  scroll;
}

.user-likes-box .post{
  width: unset;
}

/*************************** FORM *************************/
.hide {
  display: none !important;
}

#modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#post-form{
  border-radius: 10px;
  padding: 20px;
  width: 50vw;
  background: oldlace;
  border: 3px solid black;
  z-index: 1;
}

#post-form label{
  font-weight: bold;
}

#post-form th{
  font-weight: bold;
}

#post-form table{
  width: 100%;
}

#post-form tr{
  text-align: left;
}

#post-form svg{
  height: 20px;
}

.like-button{
  display: inline-block;
  width: 32%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

.get-likes{
  padding: 2px;
}

.add-post, .list-post{
  cursor: pointer;
}

#likes .selected {
  background: salmon;
}

/* --------------------------- Likes -------------------------------*/

.post svg {
  color: black;
  width: 20px;
  height: 20px;
}

.short-post {
  background: oldlace;
}