.user-likes{
	text-align: center;
}

.user-likes div{
	display: inline-block;
	padding: 2px 10px;
	margin: 0 0 10px 0;
	background: oldlace;
}

.likes-icon svg{
	height: 100px;
	fill: oldlace;
}

.username{
  font-size: 80px;
  word-break: break-all;
  text-transform: uppercase;
}

.user-link{
	text-transform: uppercase;
}

.likes {
  display: flex;
  justify-content: center;
}

.likes div{
  margin: 0 15px;
}